{% extends "base.html" %}

{% block title %}
QParse: {{ article[0].story_id }}
{% endblock %}

{% block style %}
<style media="screen">
.quote {
    color: #1d13cc;
}
.speaker{
    color: #bf22d0;
}
.position {
    color: #03c310;
}
.organization {
    color: #e60447;
}
</style>
{% endblock %}

{% block about_active %}{% endblock %}
{% block random_active %}
    {% if request.path == '/random' %}
        active
    {% endif %}
{% endblock %}

{% block content %}
<h1>{{ article[0].story_id }}</h1>

<div class="row">
    <div class="col-md-7">
        <h2>Article</h2>
    </div>
    <div class="col-md-5">
        <h2>Quotes</h2>
    </div>
</div>

{% for para in article %}
<div class="row">
    <div class="col-md-7">
        <p>
            {{ para.paragraph | safe }}
        </p>
    </div>
    <div class="col-md-5">
        {% if para.quote_in_para %}
        <dl class="dl-horizontal">
            <dt>quote</dt>
            <dd><span class="quote">{{ para.quotations }}</span></dd>
            <dt>speaker</dt>
            <dd><span class="speaker">{{ para.speaker }}</span></dd>
            <dt>position</dt>
            <dd><span class="position">{{ para.position }}</span></dd>
            <dt>organization</dt>
            <dd><span class="organization">{{ para.organization }}</span></dd>
        </ul>
        {% else %}
        <p>
            None
        </p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>

{% endfor %}

{% endblock %}
