{% extends "base.html" %}

{% block title %}
Check Out This Fucking Quote
{% endblock %}

{% block style %}
<style media="screen">
.quote {
    color: #1d13cc;
}
.speaker{
    color: #bf22d0;
}
.position {
    color: #03c310;
}
.organization {
    color: #e60447;
}
</style>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-7">
        <h1>Full Text</h1>
    </div>
    <div class="col-md-5">
        <h1>Look At All The Quotes We Found</h1>
    </div>
</div>

{% for para in story %}
<div class="row">
    <div class="col-md-7">
        <p>
            {{ para.fulltext | safe }}
        </p>
    </div>
    <div class="col-md-5">
        {% if para.quote %}
        <dl class="dl-horizontal">
            <dt>quote</dt>
            <dd><span class="quote">{{ para.quote }}</span></dd>
            <dt>speaker</dt>
            <dd><span class="speaker">{{ para.speaker }}</span></dd>
            <dt>position</dt>
            <dd><span class="position">{{ para.position }}</span></dd>
            <dt>organization</dt>
            <dd><span class="organization">{{ para.organization }}</span></dd>
        </ul>
        {% else %}
        <p>
            None
        </p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>

{% endfor %}

{% endblock %}
