{% extends "base.html" %}

{% block title %}
    Parse your own story
{% endblock %}

{% block style %}
    <style media="screen">
        .overlay {
            display: none;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: rgba(13, 3, 0, 0.77);
        }
        .overlay .hourglass {
            width: 259px;
            height: 272px;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
<div class='col-md-12'>
    <h1>QParse your own article</h1>
    <form role="form" method="POST">
        <div class="form-group">
            <label for="storytext">Step 1: Give me the text of a news article <br/>
            (Try picking one at random from the <a href="http://www.nytimes.com" target="_blank">New York Times</a>)
            </label>
            <textarea class="form-control" name="storytext" id="storytext" placeholder="" rows="25"></textarea>
        </div>
        <div class="form-group">
            <label>Step 2: Click this button and wait a while</label><br/>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<div class="overlay">
    <img src="{{ url_for('static', filename='hourglass.gif') }}" class="hourglass" />
</div>
{% endblock %}

{% block foot %}
    <script charset="utf-8">
        $('form').submit(function(){
            $('.overlay')
                .toggle();
        });
    </script>
{% endblock %}
